.main__box {
  padding: 5px;
  width: 115px;
  margin: 0 auto;
}
.box {
  cursor: pointer;
  background: red;
  width: 115px;
  height: 115px;
}
.box img {
  display: block;
  opacity: 1;
  width: 100%;
}
.active img {
  opacity: 0;
  transform: rotateY(180deg);
}
